# Built artifacts
**/build/
/captures

# IntelliJ/Android Studio
*.iml
.gradle
.idea/
!.idea/codeStyles/
!.idea/copyright/
!.idea/inspectionProfiles/
!.idea/vcs.xml

# Local configuration
local.properties
.DS_Store

# External native build
.externalNativeBuild
.cxx

# Backup files
*.bak
*.swp
*~

# Java
*.hprof

# Logs
*.log

# Agent artifacts
.artifacts/

foto/
